# Getting start with Jupiter Python

## We have done 
* Install [Python](https://www.python.org/downloads/) 3.10
* Install Jupiter Python in Pycharm

In [2]:
print?

In [4]:
i =11

In [5]:
print(i)

11

In [7]:
a =1.11
b = type(a)
print(b)

<class 'float'>

# Create some variables in python

In [5]:
f = 3.1

In [6]:
type(f)

float

In [7]:
b = True

In [8]:
s = "This is a variable"

In [9]:
print(s)

This is a variabke

# Advanced Python types

In [10]:
l = [1,23,4]

In [11]:
print(l)

[1, 23, 4]

In [12]:
d = {'om':1,'bar':2.2, 'fer' :'Charles leclerc'}

In [13]:
print(d)

{'om': 1, 'bar': 2.2, 'fer': 'Charles leclerc'}

In [14]:
print(d['fer'])

Charles leclerc

In [15]:
n = None

In [16]:
type(n)

NoneType

In [19]:
import math
p = math.pow(23, 2)
print('23 in power of 2 is: ', p)

23 in power of 2 is:  529.0

# Примеры команд класса math

In [25]:
r = 10
sq = math.pi*math.pow(r,2)
print('Square of a circle with radius of 10 is: ', sq)

Square of a circle with radius of 10 is:  314.1592653589793

In [26]:
r = 10
cir = 2 * math.pi * r
print("Circumference of a circle with radius of 10 is:", cir)

Circumference of a circle with radius of 10 is: 62.83185307179586

In [30]:
x = 1000
log = math.log10(x)
print("Logarithm of 1000 to the base 10 is:", log)

Logarithm of 1000 to the base 10 is: 3.0

In [29]:
a = 3
b = 4
hyp = math.sqrt(math.pow(a, 2) + math.pow(b, 2))
print("Hypotenuse of a triangle with sides 3 and 4 is:", hyp)

Hypotenuse of a triangle with sides 3 and 4 is: 5.0

In [31]:
n = 5
fac = math.factorial(n)
print("Factorial of 5 is:", fac)

Factorial of 5 is: 120

# Advaced Printing

In [38]:
s=10
a=6
if s==5 and a>6:
    print('The value of s is 5 and value of a is greater than 6')
elif s>6 or a>6:
    print('s or a is greater than 6')
else:
    print('Both values are less or equal to 6')

s or a is greater than 6

# Conditional Statments in Python

In [35]:
i = 12
n = True
print('Our first value is %s. Our second value is %s.' %(i,n))

Our first value is 12. Our second value is True.

In [40]:
list = [12,23,123]
print(l)
for e in list:
    print(e)

[1, 23, 4]
12
23
123

In [46]:
for a in range(35):
    print('These are the numbers from 0 to 34 : ',a)

These are the numbers from 0 to 34 :  0
These are the numbers from 0 to 34 :  1
These are the numbers from 0 to 34 :  2
These are the numbers from 0 to 34 :  3
These are the numbers from 0 to 34 :  4
These are the numbers from 0 to 34 :  5
These are the numbers from 0 to 34 :  6
These are the numbers from 0 to 34 :  7
These are the numbers from 0 to 34 :  8
These are the numbers from 0 to 34 :  9
These are the numbers from 0 to 34 :  10
These are the numbers from 0 to 34 :  11
These are the numbers from 0 to 34 :  12
These are the numbers from 0 to 34 :  13
These are the numbers from 0 to 34 :  14
These are the numbers from 0 to 34 :  15
These are the numbers from 0 to 34 :  16
These are the numbers from 0 to 34 :  17
These are the numbers from 0 to 34 :  18
These are the numbers from 0 to 34 :  19
These are the numbers from 0 to 34 :  20
These are the numbers from 0 to 34 :  21
These are the numbers from 0 to 34 :  22
These are the numbers from 0 to 34 :  23
These are the numbers from 0 to 34 :  24
These are the numbers from 0 to 34 :  25
These are the numbers from 0 to 34 :  26
These are the numbers from 0 to 34 :  27
These are the numbers from 0 to 34 :  28
These are the numbers from 0 to 34 :  29
These are the numbers from 0 to 34 :  30
These are the numbers from 0 to 34 :  31
These are the numbers from 0 to 34 :  32
These are the numbers from 0 to 34 :  33
These are the numbers from 0 to 34 :  34

In [47]:
import time
for n in range(7):
    time.sleep(2)
    print('Number: ', n)

Number:  0
Number:  1
Number:  2
Number:  3
Number:  4
Number:  5
Number:  6

In [52]:
c = 7
while c < 10:
    print(c)
    c+=1

7
8
9

# Creating functions in python

In [54]:
def add(a,b):
    y = a+b
    return y

In [55]:
a = 4
b = 8

In [56]:
add(a,b)

12

In [57]:
square = lambda x : math.pow(x,2)
square(11)

121.0

In [58]:
r = lambda s, v, k : s/v + k
print(r(20,10,2))

4.0

<h1> Heading 1 <h1>
<h2> Heading 2 <h2>
<h3> Heading 3 <h3>
<h4> Heading 4 <h4>
<h5> Heading 5 <h5>
<h6> Heading 6 <h6>

<img src='leclerc.jpg' width='500'>

\begin{equation}
\left(sum_{k=1}^n a_k b_k\right)^2
\end{equation}

\begin{equation}
(E=mc^2)
\end{equation}

In [66]:
! ipconfig

Windows IP Configuration


Ethernet adapter Ethernet:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter Џ®¤Є«озҐ­ЁҐ Ї® «®Є «м­®© бҐвЁ* 9:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter Џ®¤Є«озҐ­ЁҐ Ї® «®Є «м­®© бҐвЁ* 10:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter ЃҐбЇа®ў®¤­ п бҐвм:

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::81b1:945:6950:c0f6%4
   IPv4 Address. . . . . . . . . . . : 192.168.255.21
   Subnet Mask . . . . . . . . . . . : 255.255.255.0
   Default Gateway . . . . . . . . . : 192.168.255.250

Ethernet adapter ‘ҐвҐў®Ґ Ї®¤Є«озҐ­ЁҐ Bluetooth:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

In [67]:
! ping realmadrid.com

Pinging realmadrid.com [95.100.66.88] with 32 bytes of data:
Reply from 95.100.66.88: bytes=32 time=157ms TTL=51
Reply from 95.100.66.88: bytes=32 time=122ms TTL=51
Reply from 95.100.66.88: bytes=32 time=130ms TTL=51
Reply from 95.100.66.88: bytes=32 time=233ms TTL=51

Ping statistics for 95.100.66.88:
    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
Approximate round trip times in milli-seconds:
    Minimum = 122ms, Maximum = 233ms, Average = 160ms

# Task №4
write a function which executes this formula:
\begin{equation}
f = \frac{9 \pi t + 10 \cos(x)}{\sqrt{t} - \sin(x)} e^{-2t}
\end{equation}

In [76]:
def f(x,t):
    y = (9 * math.pi*t + 10 * math.cos(x)) * math.exp(-2*t) / (math.sqrt(t) - math.sin(x))
    return y
f(10,5)

0.0021716303992004838

# Task №5
 write down a functuon which defines out of three nubers which one is suited in an interval

In [99]:
def fr(a,b,c,d,f):
    return[n for n in[a,b,c] if d <= n <= f]

print("Числа приналдежащие к интервалу от 1 до 15: ",fr(3,12,32,1,15))

Числа приналдежащие к интервалу от 1 до 15:  [3, 12]

# Task №6
 create a generator of 20 random numbers from 0 to 10

In [106]:
import random
for i in range(20):
    print(i+1,": ", random.randint(0,10))

1 :  1
2 :  0
3 :  8
4 :  10
5 :  8
6 :  0
7 :  0
8 :  0
9 :  4
10 :  1
11 :  2
12 :  5
13 :  7
14 :  0
15 :  8
16 :  0
17 :  4
18 :  2
19 :  7
20 :  4

<h1 style="margin-bottom: 0;">Task №7</h1>
<h3 style="margin-top: 0;">Find a sum of first 20 elements of the subsequence: </h3>

\begin{equation}
\frac{1}{2+3}, \frac{2}{3+4}, \frac{3}{4+5} ....
\end{equation}

In [2]:
sum = 0
for i in range(1,21):
    b = i+1
    c = i+2
    sum+= i/(b+c)
print(sum)

8.209021097669307

# Task №9
<h3>Answer the questions:</h3>

<h3>1.	Почему для работы с большими данными и для машинного обучения выбирают язык Python? Перечислите не менее трех причин?</h3>

* Простота синтаксиса и легкость освоения
* Широкий выбор библиотек для обработки данных и машинного обучения.
* Хорошая интеграция с другими языками и платформами.
* Большое сообщество и поддержка.

<h3>2.	В чем особенности среды Jupyter Notebook, почему ее выбирают специалисты по Data Science? </h3>

* Возможность интерактивного программирования с пошаговым выполнением кода.
* Удобство визуализации данных.
* Возможность добавления текста, формул и графиков, что делает её удобной для создания отчетов и презентаций.

<h3>3.	Перечислите основные библиотеки Python для машинного обучения.</h3>

* Scikit-learn
* TensorFlow
* PyTorch

<h3>4.	Какие типы данных Python вы знаете?</h3>

* int (целые числа)
* float (числа с плавающей точкой)
* str (строки)
* list (списки)
* dict (словари)
* tuple (кортежи)
* set (множества)
* bool (логический тип)

<h3>5.	Назовите основные языковые конструкции Python</h3>

* Условные операторы (if, elif, else)
* Циклы (for, while)
* Функции (def)
* Исключения (try, except)

<h3>6.	Какое назначение у оператора if … else?</h3>

* Для выполнения определенных действий в зависимости от условий: если условие истинно, выполняется код после if, если ложно — после else.

<h3>7.	Когда заканчивается выполнение оператора while?</h3>

* Когда условие, указанное в while, становится ложным.

<h3>8.	Какие способы задания функций есть в Python?</h3>

* Определение функции через ключевое слово def().
* Лямбда-функции (анонимные функции).

<h3>9. Что такое Лямбда-функция?</h3>

* Анонимная функция, определяемая с помощью ключевого слова lambda, которая может принимать любое количество аргументов, но содержит только одно выражение.

<h3>10.	Какая библиотека Python отвечает за выполнение основным математических функций?</h3>

* Библиотека NumPy в Python отвечает за выполнение основных математических функций, включая операции с массивами, линейную алгебру, статистику и другие численные вычисления.
    Кроме того, для выполнения расширенных математических операций также используется библиотека math, которая предоставляет функции для работы с числами, тригонометрическими функциями, логарифмами и т.д.

<h3>11.	Назовите дополнительные возможности использования среды Jupyter Notebook.</h3>

* Поддержка различных языков программирования.
* Интерактивная визуализация данных:
* Конвертация в различные форматы
* Расширяемость через плагины
* Подключение к удаленным вычислительным серверам.
* Расширение функциональности с помощью сторонних модулей и виджетов.